{% extends "account/base.html" %}
{% load static %}

{% block card_header_content %}
  <h1><b>{{ PROJECT_NAME }}</b></h1>
  <h3>Reset email confirm</h3>
{% endblock card_header_content %}

{% block card_body_content %}
  <input type="hidden" id="uid" value="{{ uid }}" />
  <input type="hidden" id="token" value="{{ token }}" />
  <input
    type="email"
    id="new_email"
    class="form-control my-4 py-2"
    placeholder="New email"
  />
  <input
    type="email"
    id="re_new_email"
    class="form-control my-4 py-2"
    placeholder="Confirm new email"
  />
  <button id="submitButton" class="btn btn-primary">Reset email</button>
{% endblock card_body_content %}

{% block javascript %}
  <script
    type="module"
    defer
    src="{% static 'account/reset_email.js' %}">
  </script>
{% endblock javascript %}
